---
layout: project_page
title: Let's Get Technical
subtitle: My experience along with some interesting ideas and technologies that I've worked on.
banner_img: idea1-blue.jpg
---
<div class="project experience" id="experience">
  <h2><span class="fa fa-arrow-down"></span> Awesome Experience</h2>
  <section>
    {% for exp in site.data.experiences %}
    <h3>{{ exp.company_name}}</h3>
    <span class="subtitle">{{ exp.title}}</span><span style="float:right" class="subtitle">{{ exp.location }}</span>
    <hr/>
    <p>
      <ul>
        {{ exp.description }}
      </ul>
    </p>
    <p>
      {% if exp.duration %}<code class="duration" title="Duration">{{ exp.duration }}</code><br/>{% endif %}
      </p>
    {% endfor %}
  </section>
</div>
<div class="project projects" id="projects">
  <h2><span class="fa fa-arrow-down"></span> Cool Projects</h2>
  {% for category in site.data.projects %}
  <div id="{{ category.link }}">
    <section>
      <h3 >{{ category.title }}</h3>
      <hr/>
      <p>
        <ul>
          {% for project in category.projects %}
          <li>
            <h4><a href="{{ project.link }}">{{ project.name }}</a></h4>
            <p>{{ project.description }}</p>
            {% if project.languages or project.technologies %}
            <p>
              {% if project.languages %}<code class="languages" title="Languages">{{ project.languages }}</code><br/>{% endif %}
              {% if project.technologies %}<code class="technologies" title="Technologies">{{ project.technologies }}</code>{% endif %}
            </p>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </p>
    </section>
  </div>
  {% unless forloop.last %}
  <hr/>
  {% endunless %}
  {% endfor %}
</div>
<div class="project technologies" id="technologies">
  <h2><span class="fa fa-arrow-down"></span> Tools of the Trade</h2>
  <!-- <section class="wrapper style3 special" style="width:auto !important;">
  <div class="inner">
  <header class="major">
  <h2>Accumsan mus tortor nunc aliquet</h2>
  <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
  fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
</header>
<ul class="features">
<li class="icon fa-paper-plane-o">
<h3>Arcu accumsan</h3>
<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
</li>
<li class="icon fa-laptop">
<h3>Ac Augue Eget</h3>
<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
</li>
<li class="icon fa-code">
<h3>Mus Scelerisque</h3>
<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
</li>
<li class="icon fa-headphones">
<h3>Mauris Imperdiet</h3>
<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
</li>
<li class="icon fa-heart-o">
<h3>Aenean Primis</h3>
<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
</li>
<li class="icon fa-flag-o">
<h3>Tortor Ut</h3>
<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
</li>
</ul>
</div>
</section> -->
</div>
